body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fefbd8;
}
/******Section1******/
.S1{
    margin-bottom: 150px;
}
.logo h1{
    width: 100%;
    margin: 13px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  #618685;
    padding: 7px;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 50%;
    margin-top: 13px;
}
.nav-bar ul li a{
    color: white;
    text-decoration: none;
}
.nav-bar ul li a:hover{
    color:  #36486b;
}
.home{
    margin-top: 200px;
}
.home h1{
    font-size: 60px;
}
.home p{
    font-size: 20px;
}
i{
    font-size: 24px;
    background-color: #f0f0f0;
    padding: 10px; 
    border-radius: 50%; 
    display: inline-block; 
    text-align: center; 
    line-height: 1; 
    transition: background-color 0.3s, color 0.3s; 
    margin-bottom: 40px;
}  
.fa-github{
    color: white;
    background-color: #808080;
}
.fa-linkedin-in{
    color: white;
    background-color:#6495ED;
}
.fa-google{
    color: white;
    background-color: red;
}
.fa-facebook-f{
    color: white;
    background-color: blue;
}
.button{
    border: 3px solid #36486b;
    padding: 15px 22px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
}
.button a{
    text-decoration: none;
    color:black ;
    font-size: 20px;
}
.button a:hover{
    color:  #36486b;
}
/*********************/

/******Section2******/
.S2{
    margin-bottom: 100px;
}
.h1{
    font-size: 60px;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.a1{
    width: 50%;
}
.a1 img{
    padding-top: 20px;
    height: 400px;
    width: 500px;
    padding-bottom: 20px;
}
.a2{
    width: 50%;
}
.a2 h2{
    font-size: 32px;
    color: black;
}
.a2 p{
  font-size: 30px;
}
.black{
    color:  black;
}
.grey{
    text-decoration: none;
    color:  #36486b;
}
/*********************/

/******Section3******/
.S3{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-container {
    width: 80%;
    max-width: 800px;
}
.skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.skill-name {
    width: 20%;
    font-weight: bold;
    color: #333;
}
.progress-bar {
    width: 70%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 10px;
    height: 15px;
}
.progress {
    height: 100%;
    background-color: #36486b;
}
.percentage {
    width: 10%;
    text-align: right;
    font-weight: bold;
    color: #333;
}
/*********************/

/******Section4******/
.S4{
    margin-bottom: 100px;
}
.project{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.pro{
    width: 27%;
}
.pro img{
    padding-top: 20px;
    height: 350px;
    width: 400px;
    padding-bottom: 20px;
}
/*********************/

/******Section5******/
.S5{
    margin-bottom: 100px;
}
.S5 p{
    font-size: 20px;
}
/*********************/

/******Section6******/
.S6{
    margin-bottom: 100px;
}
.S6 p{
    font-size: 20px;
}
/*********************

/******Section7******/
.S7{
    padding-top: 50px;
    background-color: #618685;
    color: white;
}
.about{
    display: flex;
    flex-direction: row;
}
.ab1{
    width: 33%;
}
.ab2{
    width: 33%;
}
.ab3{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/***************/

